body {
    background-color: beige;
    font-family: 'Times New Roman', Times, serif;
    padding: 0px;
    margin: 0px;
}

main{
    width: 500px;
    border: 1px solid white;
    text-align: center;
    padding: 30px;
    margin: auto;
    background-color: lightseagreen;
}

h1 {
    font-family: 'Lora', cursive;
}